{% extends "nav.html" %} {% load static %} {% block contenidoQueCambia %} 
<section class="container p-5 bg-alto">
    <br>
    <br><br>

    <h2 class="display-4 fw-bolder text-center p-3">ACCESO DENEGADO </h2>

    

    <div class="col mb-5 card-ancho s-ancho">
        <div class="card h-100">
               <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">ZONA PARA ADMINISTRADORES</h5>
                    <!-- Product price-->
                     </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'index'%}">Volver a inicio</a></div>
            </div>
        </div>
    </div>

 
    <br>
    <br>
    <br>
    <br>
    <br>

   

</section>

{% endblock %}